body {
  height: 100vh;
}

label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #fff;
}

form {
  width: 300px;
}

input {
  border: none;
  border-radius: 5px;
}
